.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    padding: 0;
    margin: 0;
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    text-decoration:none;
    gap: 20px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link {
    list-style-type: none;
    color: #000000;
    text-decoration: none;
}