.reservation {
    padding: 100px 0 120px;
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title {
    margin: 0 0 80px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #000
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
}

.form__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    color: #000
}

.form__input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 8px 0 32px;
    border: 1px solid #838383;
    border-radius: 4px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.form__button {
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 20px 0;
    margin-bottom: 32px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: #1878DC;
}

.form__checkbox {
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

.form__label_type_checkbox {
    display: flex;
    gap: 12px;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}

.form__label {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}