.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter, Arial, sans-serif";
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

.header {
    padding: 30px 80px 40px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    height: 800px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background_header.svg);
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__title {
    margin: 183px 0 0;
    font-family: "Inter", "Ariel", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    max-width: 729px;
}

.header__span-accent {
    display: block;
    font-family: "Noto Serif", "Times new Roman", serif;
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color: #3F96F3;
}

.header__subtitle {
    margin: 28px 0 0;
    font-family: "Noto Serif", "Times new Roman", serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    padding: 0;
    margin: 0;
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    text-decoration:none;
    gap: 20px;
    font-family: "Inter", "Ariel", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
    font-family: "Inter", "Ariel", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383

}

.header__paragraph {
    margin: 0;
}

.recipes {
    color: #ffffff;
    background-color: #0a2750;
    padding: 100px 80px 215px;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recipes__title {
    margin: 0 0 24px;
    max-width: 550px;
    font-family: "Inter", "Ariel, sans-serif";
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.recipes__description {
    margin: 0 0 80px;
    max-width: 438px;
    font-family: "Noto Serif", "Times new Roman", serif;
    font-size: 20px;
    line-height: 30px;
}

.recipes__videos {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none; 
}

.iframe {
    border: 0px;
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", "Ariel", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}